{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alimentação</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/alimentacao.css' %}">
</head>
<body>
    <nav class="menu">
        <a href="{% url 'home' %}" tabindex="1">Home</a>
        <a href="{% url 'hidratacao' %}" tabindex="2">Hidratação</a>
        <a href="{% url 'meupeso' %}" tabindex="3">Meu Peso</a>
        <a href="{% url 'meustreinos' %}" tabindex="4" aria-label="Meus Treinos"><i class="fas fa-dumbbell"></i> Meus treinos</a>
        <a href="{% url 'tecnicaspbemestar' %}" tabindex="6">Bem-estar</a>
        <a href="{% url 'saude' %}" tabindex="7">Saúde</a>
        <a href="{% url 'sono' %}" tabindex="8">Sono</a>
        <a href="{% url 'alimentacao' %}" tabindex="9">Alimentação</a>
        <a href="{% url 'versuplementacao' %}" tabindex="10">Medicações</a>

        <!-- Botão de logout -->
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" tabindex="4" style="border:none; background:none; color:#000; cursor:pointer;">
                Log out
            </button>
        </form>
    </nav>

    <main>
        <h1>Informações Alimentares</h1>
        
        <form action="{% url 'alimentacao' %}" method="post">
            {% csrf_token %}
            
            <!-- Preferências Alimentares -->
            <label for="preferencias">Preferências Alimentares:</label><br>
            <input type="checkbox" name="preferencias" value="naotenho" id="naotenho"> 
            <label for="vnaotenho">Não tenho preferências</label><br> 

            <input type="checkbox" name="preferencias" value="vegetariano" id="vegetariano"> 
            <label for="vegetariano">Vegetariano</label><br>
            
            <input type="checkbox" name="preferencias" value="vegano" id="vegano"> 
            <label for="vegano">Vegano</label><br><br>

            <!-- Restrições Alimentares -->
            <label for="restricoes">Restrições Alimentares:</label><br>
            <input type="checkbox" name="restricoes" value="lactose" id="lactose"> 
            <label for="lactose">Lactose</label><br>
            
            <input type="checkbox" name="restricoes" value="gluten" id="gluten"> 
            <label for="gluten">Glúten</label><br>
            
            <input type="checkbox" name="restricoes" value="peixe" id="peixe"> 
            <label for="peixe">Peixe</label><br>
            
            <input type="checkbox" name="restricoes" value="nozes" id="nozes"> 
            <label for="nozes">Nozes</label><br>
            
            <input type="checkbox" name="restricoes" value="soja" id="soja"> 
            <label for="soja">Soja</label><br><br>

            <input type="checkbox" name="restricoes" value="nao" id="nao"> 
            <label for="nao">Não tenho restrições</label><br><br>

            <!-- Objetivos -->
            <label for="objetivos">Objetivos:</label><br>
            <select id="objetivos" name="objetivos">
                <option value="hipertrofia">Hipertrofia</option>
                <option value="emagrecimento">Emagrecimento</option>
                <option value="ganho de massa">Ganho de Massa Muscular</option>
                <option value="manutencao">Manutenção de Peso</option>
            </select><br><br>
            
            <button type="submit">Ver cardápio</button>
            <br>
        </form>
    </main>
</body>
</html>
