{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Treinos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/meustreinos.css' %}">
</head>

<body>
    <nav class="menu">
        <a href="{% url 'home' %}" tabindex="1">Home</a>
        <a href="{% url 'hidratacao' %}" tabindex="2">Hidratação</a>
        <a href="{% url 'meupeso' %}" tabindex="3">Meu Peso</a>
        <a href="{% url 'meustreinos' %}" tabindex="4" aria-label="Meus Treinos"><i class="fas fa-dumbbell"></i> Meus treinos</a>
        <a href="{% url 'tecnicaspbemestar' %}" tabindex="6">Bem-estar</a>

        <!-- Botão de logout -->
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" tabindex="4">
                Log out
            </button>
        </form>
    </nav>
    <main>
        <h1>Meus Treinos da Semana</h1>

        <!-- Listar treinos por dia da semana -->
        <ul>
            {% for treino in treinos %}
            <li>
                <h2>{{ treino.get_dia_da_semana_display }}</h2>
                <ul>
                    {% for exercicio in treino.exercicios.all %}
                    <li>{{ exercicio.nome }} - {{ exercicio.series }} séries de {{ exercicio.repeticoes }} repetições</li>
                    {% endfor %}
                </ul>

                <!-- Botão de Remover Treino -->
                <form action="{% url 'remover_treino' treino.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="remover-btn">Remover Treino</button>
                </form>
            </li>
            {% empty %}
            <li>Você ainda não adicionou treinos.</li>
            {% endfor %}
        </ul>

        <a href="{% url 'adicionartreino' %}">Adicionar novo treino</a>
    </main>
</body>

</html>