{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Técnicas para bem-estar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tecnicas.css' %}">
</head>
<body>
    <nav class="menu">
        <a href="{% url 'home' %}" tabindex="1">Home</a>
        <a href="{% url 'hidratacao' %}" tabindex="2">Hidratação</a>
        <a href="{% url 'meupeso' %}" tabindex="3">Meu Peso</a>
        <a href="{% url 'meustreinos' %}" tabindex="4" aria-label="Meus Treinos"><i class="fas fa-dumbbell"></i> Meus treinos</a>
        <a href="{% url 'tecnicaspbemestar' %}" tabindex="6">Bem-estar</a>

        <!-- Botão de logout -->
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" tabindex="4" style="border:none; background:none; color:#000; cursor:pointer;">
                Log out
            </button>
        </form>
    </nav>
    <h1>Bem-vindo à seção de técnicas de bem-estar do app! Aqui, você pode escolher entre três opções poderosas para melhorar sua saúde e relaxamento.</h1>
    <br>
    <p>A respiração guiada ajuda a acalmar a mente o corpo através de exercícios respiratórios estruturado, promovendo um estado de tranquilidade e foco.</p>
    <br>
    <p>O relaxamento muscular foca na liberação da tensão física, auxiliando na redução do estresse e na melhora da flexibilidade.</p>
    <br>
    <p>O alongamento melhora a flexibilidade e a mobilidade das suas articulações, o que pode reduzir o risco de lesões e melhorar sua performance física.</p>
    <br>
    <label>Selecione a técnica que mais se adapta às suas necessidades:</label>
    <br>

    <a href="{% url 'alongamento' %}">Alongamento</a>
    <br>
    <a href="{% url 'respiracaoguiada' %}">Respiração guiada</a>
    <br>
    <a href="{% url 'relaxamentomuscular' %}">Relaxamento muscular</a>

</body>
</html>