{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/versuplementacao.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de ingestão</title>
</head>
<body>
    <nav class="menu">
        <a href="{% url 'home' %}" tabindex="1">Home</a>
        <a href="{% url 'hidratacao' %}" tabindex="2">Hidratação</a>
        <a href="{% url 'meupeso' %}" tabindex="3">Meu Peso</a>
        <a href="{% url 'meustreinos' %}" tabindex="4" aria-label="Meus Treinos"> Meus treinos</a>
        <a href="{% url 'tecnicaspbemestar' %}" tabindex="5">Bem-estar</a>
        <a href="{% url 'saude' %}" tabindex="6">Saúde</a>
        <a href="{% url 'sono' %}" tabindex="7">Sono</a>
        <a href="{% url 'alimentacao' %}" tabindex="9">Alimentação</a>
        <a href="{% url 'versuplementacao' %}" tabindex="10">Medicações</a>

        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" tabindex="8" style="border:none; background:none; color:#000; cursor:pointer;">
                Log out
            </button>
        </form>
    </nav>
    <h1>Lista de Ingestão</h1>
        <p id="historico-lista">
            <!-- Os registros serão inseridos aqui -->
        </p>
</body>
</html>