body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    color: #4CAF50;
    position:absolute;
    top: 0;
    width: 100%;
    text-align: center;
    margin-top: 120px;
    font-size: 68px;
}
.texto{
    font-size: 24px;
}
.button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}
.button-group a {
    padding: 20px 40px;
    border-radius: 8px; 
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    font-size: 18px; 
    transition: background-color 0.3s;
}

.button-group a:hover {
    background-color: #45a049; 
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}