body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

nav.menu {
    background-color: #4CAF50;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav.menu a:hover {
    color: #e0e0e0;
}

nav.menu button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-top: 50px;
    font-size: 2.5em; /* Tamanho ajustável */
}

h2 {
    color: #4CAF50;
    margin-top: 30px;
    text-align: center;
}

p {
    text-align: center;
    margin: 0 20px 20px;
    font-size: 1.2em; /* Tamanho ajustável */
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em; /* Ajuste para telas menores */
    }
    p {
        font-size: 1em; /* Ajuste para telas menores */
    }
}