body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
nav.menu {
    background-color: #4CAF50;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Estilo comum para links e botões no menu */
nav.menu a,
nav.menu button.logout-btn {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

/* Hover para links e botão de logout */
nav.menu a:hover,
nav.menu button.logout-btn:hover {
    color: #e0e0e0;
}

/* Estilo específico para o botão de logout */
nav.menu button.logout-btn {
    background-color: #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}


/* Efeitos de hover e clique para o botão de logout */
nav.menu button.logout-btn:hover {
    background-color: #FF4500 !important;
}

nav.menu button.logout-btn:active {
    background-color: #FF3300 !important;
    transform: scale(0.95);
}

main {
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #4CAF50;
    font-size: 32px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div {
    margin-bottom: 15px;
    text-align: left; /* Alinhando os textos à esquerda */
    width: 100%; /* Fazendo os inputs ocuparem toda a largura */
}

label {
    font-size: 18px;
    margin-bottom: 5px;
    display: block; /* Fazendo o label ocupar uma linha inteira */
}

input[type="text"],
input[type="number"],
select {
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 20px); 
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#exercicios-container {
    width: 100%; 
    margin-top: 20px;
}

button[type="button"] {
    margin-top: 10px;
    background-color: #2196F3; 
}

button[type="button"]:hover {
    background-color: #1976D2; 
}