body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Estilos do menu */
nav.menu {
    background-color: #4CAF50;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Estilo comum para links e botões no menu */
nav.menu a,
nav.menu button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

/* Hover para links e botão de logout */
nav.menu a:hover,
nav.menu button:hover {
    color: #e0e0e0;
}

/* Estilo do botão de logout */
nav.menu button {
    background-color: #4CAF50;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

/* Efeitos de hover e clique para o botão de logout */
nav.menu button:hover {
    background-color: #FF4500;
}

nav.menu button:active {
    background-color: #FF3300;
    transform: scale(0.95);
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-top: 20px;
    font-size: 32px;
}

#historico-lista {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto na lista */
}

p {
    font-size: 18px;
    line-height: 1.6;
}
